.piros{
                color:red;
            }
            .zold{
                color:green;
            }
            .nagyBetu{
                font-size:40px;
            }

            #mintaId{
                background-color:orange;
                color:cyan;
            }